<<<<<<< HEAD
/* styles/Navbar.css */

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00796b;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.navbar button {
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #00796b;
}

.navbar button.active {
  background-color: #00796b;
}

.navbar button.active:hover {
  background-color: #005f56;
=======
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu a {
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #0077cc;
}

.navbar-menu a:last-child {
  margin-right: 0;
>>>>>>> 3fd30cc8a5683af940d62d4b1b41ce5ccd11fc34
}
